<template>
  <div class="add-todo-container">
      <h4 class="add-todo-heading">Add todo</h4>
      <form class="add-todo-form">
          <input class="todo-title" v-model="todo.title" placeholder="Title.."/>
          <textarea  class="todo-body m" v-model="todo.body" placeholder="Todo description"/>
          <button class="btn-submit-todo m" @click.prevent="addTodo(todo)">Submit</button>
      </form>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:"addTodo",
    data() {
        
        return {
            todo: {
                title:"",
                 body:""
                 }
            }

    },
    methods:{
        ...mapActions(["addTodo"]),

    }

}
</script>

<style>

.add-todo-form{
    display: flex;
    flex-direction: column;
    width:fit-content;
    margin: auto;
}
.m{
    margin: 5px 0
}
</style>