<template>
  <div class="todo-item">
      <h4>{{todo.title}}</h4>
      <P>{{todo.body}}</P>
      <button @click="removeTodo(todo.id)">Delete</button>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:"Todo",
    props:["todo"],
    methods:{
        ...mapActions(['removeTodo'])
    }
}
</script>

<style>
.todo-item{
    border:1px solid gray;
    margin: 20px;
    padding: 5px;
    border-radius: 5%;
}
</style>