<template>
  <div>
      <h2>Todos</h2>
      <AddTodo />
  <div class="todos">
    <Todo v-for="todo in Todos"  v-bind:key="todo.id" :todo="todo"/>
      </div>
  </div>
</template>

<script>
import Todo from "./Todo"
import AddTodo from './AddTodo'
import {mapGetters,mapActions} from 'vuex'

export default {
  name:"Todos",
  components:{
  Todo,
  AddTodo
  },
  computed:mapGetters({Todos:'allTodos'}),
  
  methods:{
    ...mapActions(["fetchTodos"]),
  },
  created() {
    this.fetchTodos()
  }

}
</script>

<style>
.todos{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin:10px;
}
</style>