<template>
  <div class="container">
    <div>
      <logo />
      <h1 class="title">
        Nuxtjs-Fundamentals
      </h1>
      <h2 class="subtitle">
        My fantastic Nuxt.js project
      </h2>
      <div class="links">
        <ul>
          <li v-for="post in posts" v-bind:key="post.id" class="button--green">
               <nuxt-link class="clear-decoration" v-bind:to="`/posts/${post.id}`">{{post.title}}</nuxt-link>
          </li>
        </ul>
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="button--green"
        >
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
        >
          GitHub
        </a>
      </div>
    </div>
  </div>
</template>

<script>

import Logo from '~/components/Logo.vue'

export default {
  head(){
    return {title:"Home",
       meta: [
        { name: 'twitter:title', content: 'Nuxt Fundamentals by Vue School'},
        { name: 'twitter:description', content: 'Nuxt + Vue School = 🍕'},
        { name: 'twitter:image', content: 'https://i.imgur.com/UYP2umJ.png'},
        { name: 'twitter:card', content: 'summary_large_image'}
      ]
      
    }
//


  },
  computed:{
    posts(){
      return this.$store.state.posts.all
    }
  },
  components: {
    Logo
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
.clear-decoration{
  text-decoration: none;
}
</style>
