<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue shopping app</title>
</head>

<body>
    <div id="shopping-app">
        <h1>{{header}}</h1>
        <ul>
            <li v-for="item of reversedArray " :class="[item.done?'strikeout':'bold']" @click="toggleDone(item)">{{item.text}}</li>
            <input v-model="item"  type="text" @keyup.enter='addItem'/>
            <button @click='addItem' :disabled="item.length===0" >Add item</button>
            <p v-if="listItems.length===0">Add items to see the list</p>
            <p v-else>you have {{listItems.length}} items</p>
        </ul>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        new Vue({
            el: "#shopping-app",
            data: {
                header: "shopping list",
                item: "",
                listItems: [
                    {
                    text:"10 masks",
                    done:true
                    },
                    {
                    text:"2 hand sanitizers",
                    done:false
                    },
                    {
                    text:"a pair of gloves",
                    done:true
                    },

                ],
            },
            methods: {
                addItem: function() {


                    console.log(this)
                    this.listItems.push({
                        text:this.item,
                        done:false})
                    this.item=''
                },
                toggleDone: function (item){
                item.done=!item.done                    
                }
            },
            computed:{
                reversedArray() {
                    return [...this.listItems].reverse()
                }
            }
        }
        )
    </script>
</body>

</html>