<template>
<div> 

<article>
    <h1 class="red">posts page</h1>
    <h4>{{this.post.title}}</h4>
    <p>{{this.post.text}}</p>
    <p>here will be Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ipsa! Explicabo culpa architecto temporibus dolore officiis suscipit odit consequatur, debitis, ad eos, incidunt veniam cumque vero illum iusto dolorem delectus.</p>
    </article>  
    <aside>
        <ul>
            <li  v-for="post in relatedPosts" v-bind:key="post.id">
               <nuxt-link v-bind:to="`./posts/${post.id}`">
                   {{post.title}} 
                   </nuxt-link> 
            </li>
        </ul>
    </aside>
</div>
</template>

<script>
export default {
    head(){
    return {title:this.post.title}
    },
data(){
    return{
        id: this.$route.params.postId,
    }
},
computed:{
    post() { 
    return  this.$store.state.posts.all.find(post => post.id== this.id)
    },
    relatedPosts() {
        return this.$store.state.posts.all.filter(post => post.id != this.id)
    }
}
}
</script>

<style scoped>

</style>